<nav class="navbar navbar-expand navbar-light bg-faded">
    <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <div class="dropdown open">
            <button class="border-0 bg-transparent dropdown-toggle" type="button" id="triggerId"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="https://via.placeholder.com/30" alt="" class="rounded-2" />
            </button>
            <div class="dropdown-menu" aria-labelledby="triggerId">
                <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modelUserInformation">
                    Xem thông tin
                </button>
                
                <a class="dropdown-item" href="/user/logout">Đăng xuất</a>
            </div>
        </div>
    </div>
</nav>
<main class="py-3">
    <div class="container">
        <div class="row gx-4">
            <div class="col-lg-4 d-flex flex-column gap-4 mb-4">
                <div class="rouded-full p-4 rounded-4 fw-bold bg-light">
                    <span class="border-bottom border-dark border-4 pb-1 d-inline-block mb-3"><i
                            class="bi bi-wallet-fill me-2"></i>Chức năng</span>
                    <ul class="list-unstyled d-flex flex-column gap-3 mb-0">
                        <li>
                            <button
                                class="fw-bold text-start bg-white px-3 py-2 w-100 border border-secondary rounded-2"
                                data-bs-toggle="modal" data-bs-target="#modelWithdraw">
                                <i class="bi bi-cash me-2"></i>
                                <span>Quản lý giao dịch</span>
                            </button>
                        </li>
                        <li>
                            <button
                                class="fw-bold text-start bg-white px-3 py-2 w-100 border border-secondary rounded-2"
                                data-bs-toggle="modal" data-bs-target="#modelDeposit">
                                <i class="bi bi-stopwatch me-2"></i>
                                <span><a style="text-decoration: none; color:black" href="/admin/userNotActivated">Tài
                                        khoản chờ kích
                                        hoạt</a></span>
                            </button>
                        </li>
                        <li>
                            <button
                                class="fw-bold text-start bg-white px-3 py-2 w-100 border border-secondary rounded-2"
                                data-bs-toggle="modal" data-bs-target="#modelDeposit">
                                <i class="bi bi-check-circle me-2"></i>
                                <span><a style="text-decoration: none; color:black" href="/admin/userActivated">Tài
                                        khoản đã kích
                                        hoạt</a></span>
                            </button>
                        </li>
                        <li>
                            <button
                                class="fw-bold text-start bg-white px-3 py-2 w-100 border border-secondary rounded-2"
                                data-bs-toggle="modal" data-bs-target="#modelDeposit">
                                <i class="bi bi-bell-slash-fill me-2"></i>
                                <span><a style="text-decoration: none; color:black" href="/admin/userDisable">Tài khoản
                                        đã bị vô hiệu
                                        hóa</a></span>
                            </button>
                        </li>
                        <li>
                            <button
                                class="fw-bold text-start bg-white px-3 py-2 w-100 border border-secondary rounded-2"
                                data-bs-toggle="modal" data-bs-target="#modelDeposit">
                                <i class="bi bi-lock-fill me-2"></i>
                                <span><a style="text-decoration: none; color:black" href="/admin/userLocked">Tài khoản
                                        bị khóa vô thời
                                        hạn</a></span>
                            </button>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="rounded-4 p-4 border">
                    <span class="border-bottom border-dark border-4 pb-1 d-inline-block mb-3 fw-bold"><i
                            class="bi bi-wallet-fill me-2"></i>Lịch sử giao dịch</span>
                    
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Loại giao dịch</th>
                                <th>Số tiền</th>
                                <th>Thời gian</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>

                        <tbody>
                            {{#each data}}
                            <tr data-bs-toggle="modal" data-bs-target="#modelHistoryWithdrawDetail{{id}}">
                                <td>
                                    <i class="{{icon}}"></i>
                                </td>
                                <td>{{action}}</td>
                                <td>{{amount}}</td>
                                <td>{{createdAt}}</td>
                                <td class="text-{{style}}">
                                    <i class="bi bi-cash me-1"></i><span>{{status}}</span>
                                </td>
                            </tr>
                            {{/each}}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Modal User Information -->
        <div class="modal fade" id="modelUserInformation" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Thông tin cá nhân</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body d-flex flex-column gap-2">

                        <div class="form-group d-flex flex-column gap-1">
                            <!-- Họ và tên -->

                            <label for="">Họ và tên</label>
                            <input value="{{fullname}}" type="text" class="form-control" id="inputUserFullName"
                                placeholder="Họ và tên" disabled />

                        </div>
                        <!-- Tên người dùng -->
                        <div class="form-group d-flex flex-column gap-1">
                            <label for="">Tên người dùng</label>
                            <input value="{{username}}" type="text" class="form-control" id="inputUserUsername"
                                placeholder="Tên người dùng" disabled />
                        </div>
                        <!-- Số điện thoại -->
                        <div class="form-group d-flex flex-column gap-1">
                            <label for="">Số điện thoại</label>
                            <input value="{{phone}}" type="text" class="form-control" id="inputUserPhone"
                                placeholder="Số điện thoại" disabled />
                        </div>
                        <!-- Email -->
                        <div class="form-group d-flex flex-column gap-1">
                            <label for="">Email</label>
                            <input value="{{email}}" type="text" class="form-control" id="inputUserEmail"
                                placeholder="Email" disabled />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Đóng
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal User Change Password -->
        <div class="modal fade" id="modelUserChangePassword" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Đổi mật khẩu</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex flex-column gap-2">
                        <div class="form-group d-flex flex-column gap-1">
                            <!-- Mật khẩu cũ -->
                            <label for="">Mật khẩu cũ</label>
                            <input type="password" class="form-control" id="inputUserOldPassword"
                                placeholder="Mật khẩu cũ" />
                        </div>
                        <!-- Mật khẩu mới -->
                        <div class="form-group d-flex flex-column gap-1">
                            <label for="">Mật khẩu mới</label>
                            <input type="password" class="form-control" id="inputUserNewPassword"
                                placeholder="Mật khẩu mới" />
                        </div>
                        <!-- Nhập lại mật khẩu mới -->
                        <div class="form-group d-flex flex-column gap-1">
                            <label for="">Nhập lại mật khẩu mới</label>
                            <input type="password" class="form-control" id="inputUserNewPasswordConfirm"
                                placeholder="Nhập lại mật khẩu mới" />
                        </div>
                        <span class="text-danger d-none" id="alertUserChangePassword">
                            Mật khẩu xác nhận không chính xác
                        </span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Huỷ
                        </button>
                        <button type="button" class="btn btn-primary" id="btnUserChangePassword">
                            Đổi mật khẩu
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {{#each data}}
        <!-- Modal History Withdraw Detail -->
        <div class="modal fade" id="modelHistoryWithdrawDetail{{id}}" tabindex="-1" role="dialog"
            aria-labelledby="modelTitleId" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Chi tiết giao dịch</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex flex-column gap-2">
                        <!-- Ngày giao dịch -->
                        <div class="form-group d-flex flex-column gap-1">
                            <label for="inputHistoryWithdrawDetailDate">Ngày giao dịch</label>
                            <input value="{{createdAt}}" type="text" class="form-control"
                                id="inputHistoryWithdrawDetailDate" placeholder="Ngày giao dịch" disabled />
                        </div>
                        <!-- Mã giao dịch -->
                        <div class="form-group d-flex flex-column gap-1">
                            <label for="inputHistoryWithdrawDetailCode">Mã giao dịch</label>
                            <input value="{{id}}" type="text" class="form-control" id="inputHistoryWithdrawDetailCode"
                                placeholder="Mã giao dịch" disabled />
                        </div>
                        <!-- Trạng thái -->
                        <div class="form-group d-flex flex-column gap-1">
                            <label for="inputHistoryWithdrawDetailStatus">Trạng thái</label>
                            <input value="{{status}}" type="text" class="form-control"
                                id="inputHistoryWithdrawDetailStatus" placeholder="Trạng thái" disabled />
                        </div>
                        <!-- Số tiền -->
                        <div class="form-group d-flex flex-column gap-1">
                            <label for="inputHistoryWithdrawDetailMoney">Số tiền</label>
                            <input value="{{amount}}" type="text" class="form-control"
                                id="inputHistoryWithdrawDetailMoney" placeholder="Số tiền" disabled />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Huỷ
                        </button>
                        <a href="/admin/confirmation/{{id}}" class="btn btn-primary">Xác nhận</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        <!-- Modal History Transfer Detail -->

        {{!-- <div class="modal fade" id="" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Chi tiết giao dịch</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex flex-column gap-2">
                        <!-- Ngày giao dịch -->
                        <div class="form-group d-flex flex-column gap-1">
                            <label for="inputHistoryTransferDetailDate">Ngày giao dịch</label>
                            <input type="text" class="form-control" id="inputHistoryTransferDetailDate"
                                placeholder="Ngày giao dịch" disabled />
                        </div>
                        <!-- Mã giao dịch -->
                        <div class="form-group d-flex flex-column gap-1">
                            <label for="inputHistoryTransferDetailCode">Mã giao dịch</label>
                            <input type="text" class="form-control" id="inputHistoryTransferDetailCode"
                                placeholder="Mã giao dịch" disabled />
                        </div>
                        <!-- Trạng thái -->
                        <div class="form-group d-flex flex-column gap-1">
                            <label for="inputHistoryTransferDetailStatus">Trạng thái</label>
                            <input type="text" class="form-control" id="inputHistoryTransferDetailStatus"
                                placeholder="Trạng thái" disabled />
                        </div>
                        <!-- Số tiền -->
                        <div class="form-group d-flex flex-column gap-1">
                            <label for="inputHistoryTransferDetailMoney">Số tiền</label>
                            <input type="text" class="form-control" id="inputHistoryTransferDetailMoney"
                                placeholder="Số tiền" disabled />
                        </div>
                        <!-- Sđt  người nhận -->
                        <div class="form-group d-flex flex-column gap-1">
                            <label for="inputHistoryTransferDetailPhone">SĐT người nhận</label>
                            <input type="text" class="form-control" id="inputHistoryTransferDetailPhone"
                                placeholder="SĐT người nhận" disabled />
                        </div>
                        <!-- Tên người nhận -->
                        <div class="form-group d-flex flex-column gap-1">
                            <label for="inputHistoryTransferDetailReceiver">Tên gười nhận</label>
                            <input type="text" class="form-control" id="inputHistoryTransferDetailReceiver"
                                placeholder="Người nhận" disabled />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Huỷ
                        </button>
                        <button type="button" class="btn btn-primary">Xác nhận</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modelHistoryTransferDetail" tabindex="-1" role="dialog"
            aria-labelledby="modelTitleId" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Chi tiết giao dịch</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex flex-column gap-2">
                        <!-- Ngày giao dịch -->
                        <div class="form-group d-flex flex-column gap-1">
                            <label for="inputHistoryTransferDetailDate">Ngày giao dịch</label>
                            <input type="text" class="form-control" id="inputHistoryTransferDetailDate"
                                placeholder="Ngày giao dịch" disabled />
                        </div>
                        <!-- Mã giao dịch -->
                        <div class="form-group d-flex flex-column gap-1">
                            <label for="inputHistoryTransferDetailCode">Mã giao dịch</label>
                            <input type="text" class="form-control" id="inputHistoryTransferDetailCode"
                                placeholder="Mã giao dịch" disabled />
                        </div>
                        <!-- Trạng thái -->
                        <div class="form-group d-flex flex-column gap-1">
                            <label for="inputHistoryTransferDetailStatus">Trạng thái</label>
                            <input type="text" class="form-control" id="inputHistoryTransferDetailStatus"
                                placeholder="Trạng thái" disabled />
                        </div>
                        <!-- Số tiền -->
                        <div class="form-group d-flex flex-column gap-1">
                            <label for="inputHistoryTransferDetailMoney">Số tiền</label>
                            <input type="text" class="form-control" id="inputHistoryTransferDetailMoney"
                                placeholder="Số tiền" disabled />
                        </div>
                        <!-- Sđt  người nhận -->
                        <div class="form-group d-flex flex-column gap-1">
                            <label for="inputHistoryTransferDetailPhone">SĐT người nhận</label>
                            <input type="text" class="form-control" id="inputHistoryTransferDetailPhone"
                                placeholder="SĐT người nhận" disabled />
                        </div>
                        <!-- Tên người nhận -->
                        <div class="form-group d-flex flex-column gap-1">
                            <label for="inputHistoryTransferDetailReceiver">Tên gười nhận</label>
                            <input type="text" class="form-control" id="inputHistoryTransferDetailReceiver"
                                placeholder="Người nhận" disabled />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Huỷ
                        </button>
                        <button type="button" class="btn btn-primary">Xác nhận</button>
                    </div>
                </div>
            </div>
        </div> --}}
        <!--  Modal History Phone Card Detail -->
        
    </div>
</main>