<main class="row d-flex justify-content-center py-4">
    <div class="col-lg-4" id="modelHistoryPhoneCardDetail" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Chi tiết giao dịch</h5>
                </div>
                <form action="/user/transfer/confirm" method="post">
                    <div class="modal-body d-flex flex-column gap-2">
                        <!-- Ngày giao dịch -->
                        <div class="form-group d-flex flex-column gap-1">
                            <label for="inputHistoryPhoneCardDetailDate">Ngày giao dịch</label>
                            <input value="{{date}}" type="text" class="form-control"
                                id="inputHistoryPhoneCardDetailDate" placeholder="Ngày giao dịch" disabled />
                        </div>
                        <!-- Số tiền -->
                        <div class="form-group d-flex flex-column gap-1">
                            <label for="inputHistoryPhoneCardDetailType">Số tiền</label>
                            <input value="{{amount}}" type="text" class="form-control"
                                id="inputHistoryPhoneCardDetailType" placeholder="Số tiền" disabled />
                        </div>
                        <!-- Người nhận -->
                        <div class="form-group d-flex flex-column gap-1">
                            <label for="inputHistoryPhoneCardDetailStatus">Người nhận</label>
                            <input value="{{receiver}}" type="text" class="form-control"
                                id="inputHistoryPhoneCardDetailStatus" placeholder="Người nhận" disabled />
                        </div>
                        <!-- Lời nhắn -->
                        <div class="form-group d-flex flex-column gap-1">
                            <label for="inputHistoryPhoneCardDetailMoney">Lời nhắn</label>
                            <input value="{{note}}" type="text" class="form-control"
                                id="inputHistoryPhoneCardDetailTotalPrice" placeholder="Lời nhắn" disabled />
                        </div>
                        <!-- Trạng thái -->
                        <div class="form-group d-flex flex-column gap-1">
                            <label for="inputHistoryPhoneCardDetailStatus">Trạng thái</label>
                            <input value="{{status}}" type="text" class="form-control"
                                id="inputHistoryPhoneCardDetailStatus" placeholder="Trạng thái" disabled />
                        </div>
                        <!-- Mã OTP -->
                        <div class="form-group d-flex flex-column gap-1">
                            <label for="inputHistoryPhoneCardDetailCardCode">Mã OTP</label>
                            <input name="code" type="text" class="form-control" id="inputHistoryPhoneCardDetailCardCode"
                                placeholder="Mã OTP" />
                        </div>
                        <button type="submit" class="btn btn-success">
                            Xác nhận
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>